build/
.idea/*
local.properties
.gradle/*
app/app.iml
momentum-android.git.iml
app/app-release.apk
*.aab

pfm-android\.iml

*.iml
*.hprof
app/\.idea/

app/gradlew

app/gradlew\.bat

app/gradle/wrapper/

app/version\.properties

app/\.gradle/4\.1/fileChanges/last-build\.bin

app/\.gradle/4\.1/fileHashes/


captures/
releaseNotes.txt
